/**
Uncomment sections to apply alternate card styles

You can also apply styles to an individual card using card mod using classes
card_mod:
	class: 'filled'
*/

/* Elevated Card (default, this is just here for reference) */
/* body {
	--ha-card-background: var(--md-sys-color-surface-container-low);
	--ha-card-box-shadow: var(--md-sys-elevation-level1);
} */

/* Filled Card */
/* body {
	--ha-card-background: var(--md-sys-color-surface-container-highest);
	--ha-card-box-shadow: none;
} */

/* Outlined Card */
/* body {
	--ha-card-background: var(--md-sys-color-surface);
	--ha-card-border-width: 1px;
	--ha-card-border-color: var(--md-sys-color-outline-variant);
	--ha-card-box-shadow: none;
} */

/* Transparent Card */
/* body {
	--ha-card-background: transparent;
	--ha-card-box-shadow: none;
} */