/*
 * Force theme to dark mode only
 */
:host,
html,
body {
	--md-sys-color-primary: var(--md-sys-color-primary-dark, #b5c4ff);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark, #1c2d61);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark, #344479);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark, #dce1ff);
	--md-sys-color-primary-palette-key-color: var(--md-sys-color-primary-palette-key-color-dark, #6575ad);
	--md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark, #4c5c92);
	--md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark, #dce1ff);
	--md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark, #b5c4ff);
	--md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark, #02174b);
	--md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark, #344479);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark, #c1c5dd);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark, #2b3042);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark, #414659);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark, #dee1f9);
	--md-sys-color-secondary-palette-key-color: var(--md-sys-color-secondary-palette-key-color-dark, #72768b);
	--md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark, #dee1f9);
	--md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark, #c1c5dd);
	--md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark, #161b2c);
	--md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark, #414659);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark, #e3badb);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark, #432740);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark, #5b3d57);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark, #ffd7f6);
	--md-sys-color-tertiary-palette-key-color: var(--md-sys-color-tertiary-palette-key-color-dark, #8f6c89);
	--md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark, #ffd7f6);
	--md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark, #e3badb);
	--md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark, #2c122a);
	--md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark, #5b3d57);
	--md-sys-color-neutral-palette-key-color: var(--md-sys-color-neutral-palette-key-color-dark, #76767d);
	--md-sys-color-neutral-variant-palette-key-color: var(--md-sys-color-neutral-variant-palette-key-color-dark, #75767f);
	--md-sys-color-error: var(--md-sys-color-error-dark, #ffb4ab);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark, #690005);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark, #93000a);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark, #ffdad6);
	--md-sys-color-surface: var(--md-sys-color-surface-dark, #121318);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark, #e3e1e9);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark, #45464f);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark, #c6c6d0);
	--md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark, #121318);
	--md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark, #38393f);
	--md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark, #0d0e13);
	--md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark, #1a1b21);
	--md-sys-color-surface-container: var(--md-sys-color-surface-container-dark, #1e1f25);
	--md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark, #292a2f);
	--md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark, #34343a);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark, #e3e1e9);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark, #2f3036);
	--md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark, #b5c4ff);
	--md-sys-color-outline: var(--md-sys-color-outline-dark, #8f909a);
	--md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark, #45464f);
	--md-sys-color-shadow: var(--md-sys-color-shadow-dark, #000000);
	--md-sys-color-scrim: var(--md-sys-color-scrim-dark, #000000);
	--disabled-text-color: var(--disabled-text-color-dark, #ffffff80);
	--disabled-color: var(--disabled-color-dark, #000000);
	--state-inactive-color: var(--state-inactive-color-dark, #484a4e);
}