/* Fix add card button position  */
:host {
	bottom: calc(var(--footer-height) + 16px);
	z-index: 3;
}

/* Decrease border radius and increase height */
.mdc-fab {
	height: 56px;
	border-radius: 12px;
}
.ripple {
	border-radius: 12px;
}

/* Remove all caps */
.mdc-fab__label {
	text-transform: none;
	font-size: 11pt;
}
