/* Set Material Design 3 slider variables that should only apply to redesigned sliders */
:host {
	--md-slider-handle-height: 44px !important;
	--md-slider-handle-width: 16px !important;
	--md-slider-handle-shape: 4px;
}

/* Explictly resize handle and reduce width on active or focus */
.handleNub {
	height: 44px !important;
	width: 16px !important;
	border-radius: 4px !important;
	transition: scale 0.2s cubic-bezier(0.2, 0, 0, 1);
}
.hover .handleNub,
input:focus-visible ~ .handleContainerPadded .handleNub,
input:active ~ .handleContainerPadded .handleNub {
	scale: 0.5 1;
}
:host(:focus-within)
	.container
	.handleContainerPadded
	.handleContainerBlock
	:not(.hover)
	.handleNub {
	scale: 1 1;
}

.handleNub::after {
	content: '';
	position: absolute;
	inset: 0;
	width: 4px;
	height: 44px;
	margin: auto;
	background: var(--md-sys-color-primary);
	border-radius: 2px;
}

/* Hide focus ring */
md-focus-ring {
	display: none;
}

/* Set label width and position */
/* TODO fix when in more-info popup */
.label {
	width: var(--md-slider-label-container-width);
	translate: 0 -12px;
}

/* Remove teardrop from label */
.label::before {
	display: none !important;
}

/* Do not show label on focus-within if hover class is not present */
:host(:focus-within)
	.container
	.handleContainerPadded
	.handleContainerBlock
	:not(.hover)
	.label {
	transform: scale(0) !important;
}
