/* Move toast above footer */
.mdc-snackbar {
	bottom: calc(
		8px + var(--footer-height) + env(safe-area-inset-bottom)
	) !important;
}

/* Use theme colors */
.mdc-snackbar__surface {
	background-color: var(--md-sys-color-inverse-surface) !important;
	--mdc-theme-primary: var(--md-sys-color-inverse-primary) !important;
}
.mdc-snackbar__label {
	color: var(--md-sys-color-inverse-on-surface) !important;
	font-size: 14px !important;
	line-height: 20px !important;
	letter-spacing: 0.25px !important;
}
