/* Turn view tabs container into a full width flexbox*/
:host([slot='title']) #tabsContent {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/* Fix visibility of not visible view scroll buttons */
.not-visible {
	display: none;
}
