/* Add background and color current view icon */
paper-tab.iron-selected ha-icon {
	color: var(--md-current-tab-icon-color);
	background: var(--md-current-tab-icon-background);
}

/* View label */
paper-tab::after {
	color: var(--md-inactive-tab-text-color);
}

/* Current view label color */
paper-tab.iron-selected::after {
	color: var(--md-current-tab-text-color);
}
